.checkbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.checkboxItem{
    display: flex;
}

.checkboxSupplier{
    display: flex;
}

.checkboxItem, .checkboxSupplier{
    margin-left: 10px;
    margin-right: 10px;
}
